*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.background-image{
    border-width: 100px;
    filter: blur(3px);
    width: 250px;
}
header{
    display: flex;
    background-color: rgba(175,139,62,255);  
    color: rgba(59,39,27,255);
    justify-content: space-around;
}
header #navbar{ 
    display: inline-block;
}
header img{
    height: 120px;
    width: 70px;
}

/*body{
    display: grid;
}*/ 
footer{
    background-color: rgba(175,139,62,255);
    text-align: center;
    color: rgba(59,39,27,255);
    height: 20px;
}