*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: rgb(93, 141, 174);  
    color: white;
    display: flex;
}
header div{
    justify-content: right;
   
}
header img{
    height: 150px;
    width: 100px;
}
body{
    display: grid;
    grid-template-rows: auto 100vw auto;
}
footer{
    background-color: rgb(93, 141, 174);
    text-align: center;
    color: white;
    height: 20px;
}
.books img{
    height: 200px;
    width: 150px;
}
.books h2{
    text-align: center;
    padding: auto;
    margin: 25px;
}